<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--     
    http://docs.aws.amazon.com/AWSECommerceService/latest/DG/CHAP_ApiReference.html
    https://console.aws.amazon.com/iam/home 
    -->
    <add key="AWSKeyID" value="KEY_ID" />
    <add key="AWSSecretKey" value="KEY_SECRET" />
    <!-- https://affiliate-program.amazon.com/home/account/tag/manage -->
    <add key="AWSAssociateTag" value="TAG_ID" />


    <add key="AWSDestination" value="webservices.amazon.com" />
    <add key="AWSXMLNamespace" value="http://webservices.amazon.com/AWSECommerceService/2011-08-01" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>